{"openapi":"3.0.0","info":{"title":"Usersnap API","description":"Make feedback matter! Now with a RESTful API","termsOfService":"https://usersnap.com/terms-of-service","contact":{"name":"Usersnap Contact","url":"https://usersnap.com/contact","email":"contact@usersnap.com"},"version":"0.1"},"servers":[{"url":"https://platform.usersnap.com/v0.1"}],"paths":{"/projects/{api_key}/feedbacks":{"post":{"tags":["submit"],"summary":"Submit feedback","description":"Through this endpoint you can submit feedback to a project with following data (all of the fields are optional):\n\n- Visitor:\nEmail of the person the feedback is from\n\n- Comment:\nA text value\n\n- Assignee:\nID of the assigned user (available through request to assignees endpoint) or email.\nIf not passed, the default assignee will be used. If null value is passed, the feedback will not be assigned to anyone.\n\n- Rating:\nIf the project is set up with NPS/5 star/5 smileys/thumbs up rating field, you can pass a rating field.\nIts value should be an integer between 1 and 10 for NPS, 1 and 5 for 5 star, 1 and 5 for 5 smileys, 1 and -1 for thumbs up/down.\n\n- Client:\nAn object, containing 3 fields:\n    - url - URL of the page, string\n    - screen_width - Screen width, as integer\n    - screen height - Screen height, as integer\n\n- Attachments:\nAn array of objects, each containing a file attachment, composed of 3 fields:\n    - content - content of the file encoded in base64\n    - filename - the name of the file\n    - mime_type - the mime type of the file\nMaximum size of each file is 20MiB.\n","operationId":"submitFeedback","parameters":[{"$ref":"#/components/parameters/projectPathApiKey"}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"api_key":{"type":"string"},"visitor":{"type":"string"},"comment":{"type":"string"},"assignee":{"type":"string"},"client":{"properties":{"url":{"type":"string"},"screen_width":{"type":"integer","format":"int32"},"screen_height":{"type":"integer","format":"int32"}},"type":"object"},"rating":{"type":"integer"},"attachments":{"items":{"properties":{"content":{"type":"string"},"filename":{"type":"string"},"mime_type":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"example":{"visitor":"customer@example.com","comment":"I like the new feature","rating":9,"client":{"url":"https://example.com","screen_width":1920,"screen_height":1080}}}},"required":true},"responses":{"201":{"description":"Returns the id of the created feedback","content":{"application/json":{"schema":{"properties":{"status":{"type":"boolean"},"data":{"properties":{"feedback":{"properties":{"feedback_id":{"type":"string"}},"type":"object"}},"type":"object"}},"type":"object","example":{"status":true,"data":{"feedback":{"feedback_id":"caf0bb21-2047-4dd8-809c-9970b951bb33"}}}}}}},"400":{"$ref":"#/components/responses/Error"},"401":{"$ref":"#/components/responses/UnauthorizedError"}},"deprecated":false,"security":[{"bearerAuth":[]},{}]}},"/projects/{api_key}/metrics":{"get":{"tags":["pre_submit"],"summary":"Get project metrics","description":"List all the metrics that are available for this project","operationId":"getProjectMetrics","parameters":[{"$ref":"#/components/parameters/projectPathApiKey"}],"responses":{"200":{"description":"Returns the list of metrics","content":{"application/json":{"schema":{"properties":{"status":{"type":"boolean"},"data":{"properties":{"metrics":{"items":{"properties":{"name":{"type":"string"},"help_text":{"type":"string"},"metric_type":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"}},"type":"object","example":{"status":true,"data":{"metrics":[{"name":"Client","help_text":"informations about the client.","metric_type":"CLIENT"},{"name":"Comment","help_text":"A comment field where users describe what they like or dislike on the page.","metric_type":"TEXT"},{"name":"Console log","help_text":"Data captured by the console recorder","metric_type":"CONSOLE_LOG"},{"name":"Custom Data","help_text":"Custom JSON data provided by customers in the widget.","metric_type":"JSON"},{"name":"Geo","help_text":"Geolocation (Country, City) of the client.","metric_type":"GEO"},{"name":"Screenshot","help_text":"A screenshot with annotations.","metric_type":"SCREENSHOT"},{"name":"State","help_text":"The state of this Feedback","metric_type":"ENUM"},{"name":"Text","help_text":"A text field with optional calculated sentiment.","metric_type":"TEXT"},{"name":"Visitor","help_text":"A visitor field for the email address","metric_type":"VISITOR"}]}}}}}},"400":{"$ref":"#/components/responses/Error"},"401":{"$ref":"#/components/responses/UnauthorizedError"}},"deprecated":false,"security":[{"bearerAuth":[]},{}]}},"/projects/{api_key}/assignees":{"get":{"tags":["pre_submit"],"summary":"Get project assignees","description":"List all the assignees that are available for this project","operationId":"getProjectAssignees","parameters":[{"$ref":"#/components/parameters/projectPathApiKey"}],"responses":{"200":{"description":"Returns the list of users","content":{"application/json":{"schema":{"properties":{"status":{"type":"boolean"},"data":{"properties":{"users":{"items":{"properties":{"user_id":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"gravatar_url":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"}},"type":"object"}}}},"400":{"$ref":"#/components/responses/Error"},"401":{"$ref":"#/components/responses/UnauthorizedError"}},"deprecated":false,"security":[{"bearerAuth":[]},{}]}},"/projects":{"get":{"tags":["project"],"summary":"Get all projects","description":"List all projects that are available for the current user","operationId":"getProjects","responses":{"200":{"description":"Returns the list of projects","content":{"application/json":{"schema":{"properties":{"status":{"type":"boolean"},"data":{"properties":{"has_more":{"type":"boolean"},"count":{"type":"integer","format":"int32"},"projects":{"items":{"properties":{"project_id":{"type":"string"},"api_key":{"type":"string"},"company_id":{"type":"string"},"space_id":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"archived_at":{"type":"string","format":"date-time"},"owner_id":{"type":"string"},"default_assignee_id":{"type":"string"},"name":{"type":"string"},"is_live":{"type":"boolean"},"feedback_count":{"type":"integer","format":"int32"},"open_feedback_count":{"type":"integer","format":"int32"}},"type":"object"},"type":"array"}},"type":"object"}},"type":"object","example":{"status":true,"data":{"has_more":false,"count":62,"projects":[{"project_id":"1d41f014-6331-4523-a45a-3782348d0a17","api_key":"79baa410-b3dd-4e03-86e5-8849d841473e","company_id":"695f0023-36ff-42dd-85a7-13afcd6a239d","space_id":"1da0d970-ec2a-4644-8eff-07a35b8c13e9","created_at":"2022-03-16T15:24:52.453839Z","updated_at":"2022-11-28T11:29:22.261195Z","archived_at":null,"owner_id":"66e13ff6-509b-4385-9ef7-660167e972ba","default_assignee_id":null,"name":"Bug Tracking (Jira)","is_live":true,"feedback_count":1,"open_feedback_count":0}]}}}}}},"400":{"$ref":"#/components/responses/Error"},"401":{"$ref":"#/components/responses/UnauthorizedError"}},"deprecated":false,"security":[{"bearerAuth":[]}]}},"/projects/{project_id}/feedbacks":{"get":{"tags":["feedback"],"summary":"Get all feedbacks","description":"List all feedbacks of the given project","operationId":"getProjectFeedbacks","parameters":[{"$ref":"#/components/parameters/projectPathId"}],"responses":{"200":{"$ref":"#/components/responses/ProjectFeedbackList"},"400":{"$ref":"#/components/responses/Error"},"401":{"$ref":"#/components/responses/UnauthorizedError"}},"deprecated":false,"security":[{"bearerAuth":[]}]}},"/projects/{project_id}/feedbacks/count":{"get":{"tags":["feedback"],"summary":"Get feedback count","description":"Get the count of feedbacks of the given project","operationId":"getProjectFeedbacksCount","parameters":[{"$ref":"#/components/parameters/projectPathId"}],"responses":{"200":{"description":"Returns the count of feedbacks","content":{"application/json":{"schema":{"properties":{"status":{"type":"boolean"},"data":{"properties":{"total_count":{"type":"integer","format":"int32"}},"type":"object"}},"type":"object","example":{"status":true,"data":{"total_count":10}}}}}},"400":{"$ref":"#/components/responses/Error"},"401":{"$ref":"#/components/responses/UnauthorizedError"}},"deprecated":false,"security":[{"bearerAuth":[]}]}},"/projects/{project_id}/feedbacks/filter":{"post":{"tags":["feedback"],"summary":"Get all feedbacks","description":"List all feedbacks of the given project","operationId":"filterProjectFeedbacks","parameters":[{"$ref":"#/components/parameters/projectPathId"}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"query":{"items":{"properties":{"filter_type":{"type":"string","enum":["assignee","created_at","email","feedback_number","nps","one_to_five","state","thumb"]},"operator":{"type":"string","enum":["eq","neq","in","not_in","gt","gte","lt","lte","like","ilike"]},"value":{"type":"string"}},"type":"object"},"type":"array"},"order_by":{"properties":{"order_by_type":{"type":"string","enum":["created_at","rating","updated_at","likes"]},"direction":{"type":"string","enum":["asc","desc"]}},"type":"object"}},"type":"object","example":{"order_by":{"direction":"desc","order_by_type":"created_at"},"query":[{"filter_type":"state","operator":"eq","value":"done"}]}},"examples":{"closed_sorted_by_created_at_desc":{"summary":"Closed feedback items, sorted by date (newest first)","value":{"order_by":{"direction":"desc","order_by_type":"created_at"},"query":[{"filter_type":"state","operator":"eq","value":"done"}]}},"date_range_sorted_by_created_at_asc":{"summary":"Feedback items from a specific date range, sorted by date (oldest first)","value":{"order_by":{"direction":"asc","order_by_type":"created_at"},"query":[{"filter_type":"created_at","operator":"gte","value":"2023-03-22T00:00:00Z"},{"filter_type":"created_at","operator":"lte","value":"2023-03-25T00:00:00Z"}]}},"email_domain_sorted_by_updated_at_desc":{"summary":"Feedback items from a specific email address domain, sorted by modified date (newest first)","value":{"order_by":{"direction":"desc","order_by_type":"updated_at"},"query":[{"filter_type":"email","operator":"like","value":"%@usersnap.com"}]}}}}},"required":true},"responses":{"200":{"$ref":"#/components/responses/ProjectFeedbackList"},"400":{"$ref":"#/components/responses/Error"},"401":{"$ref":"#/components/responses/UnauthorizedError"}},"deprecated":false,"security":[{"bearerAuth":[]}]}},"/projects/{project_id}/feedbacks/filter/count":{"post":{"tags":["feedback"],"summary":"Get feedback count","description":"Get the count of feedbacks of the given project","operationId":"filterProjectFeedbacksCount","parameters":[{"$ref":"#/components/parameters/projectPathId"}],"requestBody":{"content":{"application/json":{"schema":{"properties":{"query":{"items":{"properties":{"filter_type":{"type":"string","enum":["assignee","created_at","email","feedback_number","nps","one_to_five","state","thumb"]},"operator":{"type":"string","enum":["eq","neq","in","not_in","gt","gte","lt","lte","like","ilike"]},"value":{"type":"string"}},"type":"object"},"type":"array"},"order_by":{"properties":{"order_by_type":{"type":"string","enum":["created_at","rating","updated_at","likes"]},"direction":{"type":"string","enum":["asc","desc"]}},"type":"object"}},"type":"object","example":{"order_by":{"direction":"desc","order_by_type":"created_at"},"query":[{"filter_type":"state","operator":"eq","value":"done"}]}},"examples":{"closed_sorted_by_created_at_desc":{"summary":"Closed feedback items, sorted by date (newest first)","value":{"order_by":{"direction":"desc","order_by_type":"created_at"},"query":[{"filter_type":"state","operator":"eq","value":"done"}]}},"date_range_sorted_by_created_at_asc":{"summary":"Feedback items from a specific date range, sorted by date (oldest first)","value":{"order_by":{"direction":"asc","order_by_type":"created_at"},"query":[{"filter_type":"created_at","operator":"gte","value":"2023-03-22T00:00:00Z"},{"filter_type":"created_at","operator":"lte","value":"2023-03-25T00:00:00Z"}]}},"email_domain_sorted_by_updated_at_desc":{"summary":"Feedback items from a specific email address domain, sorted by modified date (newest first)","value":{"order_by":{"direction":"desc","order_by_type":"updated_at"},"query":[{"filter_type":"email","operator":"like","value":"%@usersnap.com"}]}}}}},"required":true},"responses":{"200":{"description":"Returns the count of feedbacks","content":{"application/json":{"schema":{"properties":{"status":{"type":"boolean"},"data":{"properties":{"total_count":{"type":"integer","format":"int32"}},"type":"object"}},"type":"object","example":{"status":true,"data":{"total_count":10}}}}}},"400":{"$ref":"#/components/responses/Error"},"401":{"$ref":"#/components/responses/UnauthorizedError"}},"deprecated":false,"security":[{"bearerAuth":[]}]}}},"components":{"responses":{"ProjectFeedbackList":{"description":"List of feedbacks","content":{"application/json":{"schema":{"properties":{"status":{"type":"boolean"},"data":{"properties":{"has_more":{"type":"boolean"},"count":{"type":"integer","format":"int32"},"feedbacks":{"items":{"properties":{"feedback_id":{"type":"string"},"feedback_number":{"type":"integer","format":"int32"},"public_link":{"type":"string"},"project_id":{"type":"string"},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"status_type":{"type":"string"},"priority":{"type":"string"},"assignee_id":{"type":"string"},"is_demo":{"type":"boolean"},"email":{"type":"string"},"client":{"properties":{"url":{"type":"string"},"client_type":{"type":"string"},"city_name":{"type":"string"},"country_name":{"type":"string"},"screen_width":{"type":"integer","format":"int32"},"screen_height":{"type":"integer","format":"int32"},"browser_full_name":{"type":"string"},"browser_os":{"type":"string"},"browser_name":{"type":"string"},"browser_version":{"type":"string"}},"type":"object"},"custom_data":{"type":"object"},"screenshot":{"properties":{"annotated_image_url":{"type":"string"},"comments":{"items":{"properties":{"label":{"type":"string"},"comment":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"screen_recording":{"properties":{"file_resource_url":{"type":"string"},"mime_type":{"type":"string"}},"type":"object"},"ordered_inputs":{"items":{"properties":{"order":{"type":"integer","format":"int32"},"label":{"type":"string"},"boolean_value":{"type":"boolean"},"text_value":{"type":"string"},"value":{"type":"string"}},"type":"object"},"type":"array"},"labels":{"items":{"properties":{"company_label_id":{"type":"string"},"identifier":{"type":"string"},"name":{"type":"string"},"color":{"type":"string"}},"type":"object"},"type":"array"}},"type":"object"},"type":"array"},"next":{"properties":{"query_string":{"type":"string"},"limit":{"type":"integer","format":"int32"},"after":{"type":"string"}},"type":"object"}},"type":"object"}},"type":"object","example":{"status":true,"data":{"has_more":false,"count":10,"feedbacks":[{"feedback_id":"f5150fc1-a7c9-4e33-8bd5-7a9cf3423e32","feedback_number":10,"public_link":"https://app.usersnap.best/l/feedback/f5150fc1-a7c9-4e33-8bd5-7a9cf3423e32","project_id":"03e7f4ec-7fa5-4783-b4b1-2da96ab2ba69","created_at":"2022-08-04T10:22:34.127599Z","updated_at":"2022-08-04T10:22:34.153671Z","status_type":"in_progress","priority":"high","assignee_id":"66e13ff6-509b-4385-9ef7-660167e972ba","is_demo":false,"email":"someone@somewhere.com","client":{"url":"https://app.usersnap.best/widget-preview/?apikey=51934445-7273-4a87-bc7f-813fe88046bb","client_type":"browser","city_name":"Linz","country_name":"Austria","screen_width":1728,"screen_height":1117,"browser_full_name":"Firefox 103 (macOS Catalina)","browser_os":"Macintosh","browser_name":"Firefox","browser_version":"103.0"},"custom_data":{"System":"Staging","Release Version":"0.2"},"screenshot":{"annotated_image_url":"https://resources.usersnap.best/company/695f0023-36ff-42dd-85a7-13afcd6a239d/datapoint_screenshot/e257c490-69c1-4395-a81a-6be61d31812c-all_31f70d0f-94e0-412a-9cf9-6e9b439af0e0.png?etag=XT1oelEoouts6k6/YCVFpQ==","comments":[]},"screen_recording":null,"ordered_inputs":[{"order":0,"label":"Comment","boolean_value":null,"text_value":"[Sample Feedback] The login button is not working","value":"[Sample Feedback] The login button is not working"}],"labels":[{"company_label_id":"5392d1a5-925a-49a1-9168-d03cc60c7ec5","identifier":"bug","name":"Bug","color":"#f71007"}]}],"next":{"query_string":"limit=1&after=f5150fc1-a7c9-4e33-8bd5-7a9cf3423e32","limit":1,"after":"f5150fc1-a7c9-4e33-8bd5-7a9cf3423e32"}}}}}}},"UnauthorizedError":{"description":"Authorization header missing or invalid","content":{"application/json":{"schema":{"properties":{"status":{"type":"boolean"},"msg":{"type":"string"},"errortype":{"type":"string"},"errordata":{"type":"object"}},"type":"object","example":{"status":false,"msg":"Authorization failed","errortype":"WRONG_AUTH","errordata":{}}}}}},"Error":{"description":"Error response","content":{"application/json":{"schema":{"properties":{"status":{"type":"boolean"},"msg":{"type":"string"},"errortype":{"type":"string"},"errordata":{"type":"object"}},"type":"object","example":{"status":false,"msg":"Site does not exist","errortype":"SITE_NOT_FOUND","errordata":{"site_id":"50c4cdd6-4801-42b9-b785-b5cf90fcbb65"}}}}}}},"parameters":{"projectPathApiKey":{"name":"api_key","in":"path","description":"Project API key","required":true,"deprecated":false,"allowEmptyValue":false,"explode":false,"allowReserved":false,"schema":{"type":"string"}},"projectPathId":{"name":"project_id","in":"path","description":"Project ID","required":true,"deprecated":false,"allowEmptyValue":false,"explode":false,"allowReserved":false,"schema":{"type":"string"}}},"securitySchemes":{"bearerAuth":{"type":"http","description":"The bearer token is a JWT created by you and signed with the JWT secret provided in https://app.usersnap.com/#/settings/rest-api.\n\nTo create it, start with a default HS256 JWT (e.g. https://jwt.io/#debugger-io) and add \"kid\": \"<JWT ID>\" to the headers. Then sign it using the JWT secret.\n\nCopy the resulting JWT (ey123123.ey123123.xyz) and always send it in the Authorization header as Bearer ey123123.ey123123.xyz.","scheme":"bearer","bearerFormat":"JWT"}}},"tags":[{"name":"pre_submit","description":"Available options for submission"},{"name":"submit","description":"Submit feedback"},{"name":"project","description":"Project related endpoints"},{"name":"feedback","description":"Feedback related endpoints"}],"externalDocs":{"description":"Read our help pages for more.","url":"https://help.usersnap.com/reference/platform-rest-api"}}